<?xml version="1.0" encoding="UTF-8"?>
<suite name="CustommadeSuite" parallel="tests" thread-count="16">
	<listeners>
		<listener class-name="com.custommade.listener.CustomMadeListener" />
	</listeners>
	<tests> 
	
	<!-- This is to run the test in firefox browser. 
	 We can set the IP of the Node machine as : "<parameter name="node" value="http://<Node machine IP>/wd/hub" />".
	 If the node machine and the host machine is same, 
	 we may give command as : <parameter name="node" value="http://localhost/wd/hub" /> -->
	
	 <test name="Firefox" preserve-order="true">
		<parameter name="browser" value="firefox" />
		<parameter name="node" value="http://localhost:5555/wd/hub" />
		<classes>		
	 		<class name="com.custommade.tests.LoginRegistration" />
<!-- 			<class name="com.custommade.tests.StartAProject" />
			<class name="com.custommade.tests.GetItCustomMade" />
			<class name="com.custommade.tests.WorkWithThisMaker" /> -->
		</classes>
	</test>
	<!-- 
	This is to run the test in chrome browser. -->
	
<!-- 	<test name="Chrome" preserve-order="true" parallel="classes" thread-count="4">
		<parameter name="browser" value="chrome" />
		<parameter name="node" value="http://localhost:5555/wd/hub" />
		<classes>
			<class name="com.custommade.tests.LoginRegistration" />
			<class name="com.custommade.tests.StartAProject" />
			<class name="com.custommade.tests.GetItCustomMade" />
			<class name="com.custommade.tests.WorkWithThisMaker" />
		</classes>
	</test> -->
	
	<!-- This is to run the test in IE browser.
	
	<test name="IE" preserve-order="true">
		<parameter name="browser" value="iexplore" />
		<parameter name="node" value="http://10.2.0.58:5555/wd/hub" />
		<classes>
			<class name="com.custommade.tests.LoginRegistration" />
			<class name="com.custommade.tests.StartAProject" />
			<class name="com.custommade.tests.GetItCustomMade" />
			<class name="com.custommade.tests.WorkWithThisMaker" />
		</classes>
	</test> -->
	
	<!-- This is to run the test in safari browser.  -->
	
<!-- 	<test name="Safari" preserve-order="true" parallel="classes" thread-count="4">
		<parameter name="node" value="http://10.2.0.117:5555/wd/hub" />
		<parameter name="browser" value="safari" />
		<classes>
			<class name="com.custommade.tests.LoginRegistration" />
			<class name="com.custommade.tests.StartAProject" />
			<class name="com.custommade.tests.GetItCustomMade" />
			<class name="com.custommade.tests.WorkWithThisMaker" />
		</classes>
	</test> -->
	</tests>
</suite>